body {
    /*background-color: #581845;*/
    color: #ececec;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    margin: 0px 0px 0px 0px;
    height: 100%;
}

header {
    height: 100vh;
    background: linear-gradient(rgba(192, 72, 72, .4), rgba(72, 0, 72, .4)), url("/Users/Maria/repos/java-alpha/front-end/portfolioExercise/images/night.jpg");
    background-size: cover;
}

header h1, header h2, header h3{
    font-size: 10em;
    /* font-family: 'Abril Fatface', cursive; */
    font-family: 'Poiret One', cursive;
    color: white;
    margin-top: 0px;
    margin-bottom: 5%;
    text-transform: uppercase;
}
header h1{
    padding-top: 2%; 
    padding-left: 5%;
}

header h2{
    color: gray;
    font-family: 'Abril Fatface', cursive;
    /* font-family: 'Rock Salt', cursive; */
    text-align: center;
    text-transform: none;
    font-size: 7em;
}

header h3{
    padding-right: 5%;
    text-align: right;
}

.arrow{
    height: 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 1em;
    font-family: 'Abril Fatface', cursive;
}

.intro {
    height: 25%;
    border-bottom: 1px solid #DAF7A6;
    padding: 1% 0 2% 0;
}

.intro img {
    border-radius: 60%;
    width: 80px;
}

h1 {
    color: #fff;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif */
    font-family: 'Poiret One', cursive;

}

main {
    /* background: linear-gradient(rgba(192, 72, 72, .4), rgba(72, 0, 72, .4)); */
    background: linear-gradient(#141E30, #243B55);
    height: 65%;
    height: 100vh;
}

.padding {
    padding: 5% 5%;
}

/* main>section {
    display: flex;
    justify-content: space-between;
} */

.imageholder {
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    opacity: 70%;
    min-height: 180px;
    max-width: 100%;
}

.showcase:hover .imageholder{
    opacity: 100%;
}

.imageholder.diamond {
    background-image: url("../images/02.jpg");
}

.imageholder.movies {
    background-image: url("../images/03.jpg");
}

.imageholder.norys {
    background-image: url("../images/07.png");
}

.imageholder.jobs {
    background-image: url("../images/08.jpg");
}

.showcase {
    /* display: inline-block; */
    float: left;
    width: 23%;
    text-align: left;
    vertical-align: top;
    margin: 0% 5px 0% 5px;
}

a {
    color: #14c2cc;
    text-decoration: none;
}

a:hover {
    color:  #14c2cc;
    text-decoration: underline;
}

.showcase img {
    width: 100%;
}

.tags {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.5em;
    text-transform: uppercase;
    color: #00db97;
}

footer {
    height: 10%;
    border-top: 1px solid #DAF7A6;
    padding-top: 1%;
    text-align: right;
}

footer p {
    display: inline-block;
    width: 20%;
}

ul {
    width: 79%;
    display: inline-block;
    padding-left: 0px;
    text-align: left;
}

li {
    display: inline;
    list-style-type: none;
    min-width: 10%;
}

.center {
    text-align: center;
}

.clearfix:after {
    content: ' ';
    clear: both;
    display: block;
}

@media screen and (max-width: 1024px) {
    .showcase {
        width: 48%;
    }
}

@media screen and (max-width: 768px) {
    .showcase {
        width: 100%;
        margin: 20px 0px;
    }
}