header img {
    /* background: linear-gradient(rgba(192, 72, 72, .4), rgba(72, 0, 72, .4)), url("/Users/Maria/repos/java-alpha/front-end/portfolioExercise/images/night.jpg"); */
    position: left top;
    max-width: 60%;
}

header h1 {
    font-size: 7em;
    color: blue;
    display: inline-block;
}

img {
    max-width: 100px;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
}

.abv::after{
    content: "% ";
}

.beer-box{
    border: solid 1px blue;
    border-radius: 2px;
    float: left;
    width: 30%;
    padding: 2% 2%;
}

.beer-box img{
    float: left;
}